Repository topdev0528/python-docs-sample, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoogleCloudPlatform/python-samples-owners, @alixhami, @tswast, @gguuss, @sirtorry, @anguillanneuf

.github/CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.

# The python-samples-owners team is the default owner for anything not
# explicitly taken by someone else.
*                         @GoogleCloudPlatform/python-samples-owners

# Alix Hamilton is the primary maintainer of the BigQuery samples.
bigquery/*                @alixhami

# Tim Swast is the primary maintainer of the BigQuery Data Transfer samples.
bigquery/transfer/*       @tswast

# Tim Swast is the primary maintainer of the Composer samples.
composer/*                @tswast

# Gus Class is the primary maintainer of the IoT samples.
iot/*                     @gguuss

# Alix Hamilton is the primary maintainer of the Jupyter notebook samples.
notebooks/*               @alixhami

# Torry Yang is the primary maintainer of the Tables samples.
/tables/                  @sirtorry

# Tianzi Cai is the primary maintainer of the Pub/Sub samples.
/pubsub/                  @anguillanneuf

remove unused region tags (#2615)
  storage/signed_urls/generate_signed_urls.py
Owners: @GoogleCloudPlatform/python-samples-owners

Asset: Update Real Time Feed Sample Code to use v1 (#2623)
  asset/cloud-client/quickstart_createfeed.py
  asset/cloud-client/quickstart_deletefeed.py
  asset/cloud-client/quickstart_getfeed.py
  asset/cloud-client/quickstart_listfeeds.py
  asset/cloud-client/quickstart_updatefeed.py
  asset/cloud-client/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners

Cleanly disconnect client before JWT expiration. (#2622)
  iot/api-client/manager/manager_test.py
  iot/api-client/mqtt_example/cloudiot_mqtt_example.py
Owners: @GoogleCloudPlatform/python-samples-owners

Fix Flask local resource relative path (#2605)
  codelabs/functions/python_powered/main.py
Owners: @GoogleCloudPlatform/python-samples-owners

Update blunderbuss assignees (#2631)
  .github/blunderbuss.yml
Owners: @GoogleCloudPlatform/python-samples-owners

Healthcare API: Fix FHIR import method name and region tag (#2586)
  healthcare/api-client/fhir/fhir_resources.py
  healthcare/api-client/fhir/fhir_resources_test.py
  healthcare/api-client/fhir/fhir_stores.py
  healthcare/api-client/fhir/fhir_stores_test.py
Owners: @GoogleCloudPlatform/python-samples-owners

add TIMESTAMP column to pandas upload example (#2617)
  .kokoro/python2.7/common.cfg
  bigquery/pandas-gbq-migration/samples_test.py
Owners: @GoogleCloudPlatform/python-samples-owners

Pub/Sub: add timeout in argparse (#2637)
  pubsub/cloud-client/subscriber.py
Owners: @anguillanneuf

feat(tables): update samples to show explainability (#2523)
  tables/automl/automl_tables_dataset.py
  tables/automl/automl_tables_model.py
  tables/automl/automl_tables_predict.py
  tables/automl/dataset_test.py
  tables/automl/model_test.py
  tables/automl/predict_test.py
  tables/automl/requirements.txt
Owners: @sirtorry

automl: add base model samples for automl ga (#2609)
  automl/cloud-client/delete_model.py
  automl/cloud-client/delete_model_test.py
  automl/cloud-client/deploy_model.py
  automl/cloud-client/deploy_model_test.py
  automl/cloud-client/get_model.py
  automl/cloud-client/get_model_evaluation.py
  automl/cloud-client/get_model_evaluation_test.py
  automl/cloud-client/get_model_test.py
  automl/cloud-client/list_model_evaluations.py
  automl/cloud-client/list_model_evaluations_test.py
  automl/cloud-client/list_models.py
  automl/cloud-client/list_models_test.py
  automl/cloud-client/requirements.txt
  automl/cloud-client/undeploy_model.py
  automl/cloud-client/undeploy_model_test.py
Owners: @GoogleCloudPlatform/python-samples-owners

Update datalabeling samples to hit test endpoint. (#2641)
  .kokoro/tests/run_tests.sh
  datalabeling/create_annotation_spec_set.py
  datalabeling/create_annotation_spec_set_test.py
  datalabeling/create_instruction.py
  datalabeling/create_instruction_test.py
  datalabeling/export_data.py
  datalabeling/import_data.py
  datalabeling/label_image.py
  datalabeling/label_image_test.py
  datalabeling/label_text.py
  datalabeling/label_text_test.py
  datalabeling/label_video.py
  datalabeling/label_video_test.py
  datalabeling/manage_dataset.py
Owners: @GoogleCloudPlatform/python-samples-owners

"Hello Broken" python sample (#2618)
  noxfile.py
  run/hello-broken/Dockerfile
  run/hello-broken/README.md
  run/hello-broken/main.py
  run/hello-broken/main_test.py
  run/hello-broken/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners

Update datalabeling to match lint. (#2642)
  datalabeling/export_data.py
  datalabeling/import_data.py
  datalabeling/label_image.py
  datalabeling/label_text.py
  datalabeling/label_video.py
  datalabeling/manage_dataset.py
Owners: @GoogleCloudPlatform/python-samples-owners

Adding region tags to Dockerfile (#2650)
  run/hello-broken/Dockerfile
Owners: @GoogleCloudPlatform/python-samples-owners

Configure Renovate (#2557)
  renovate.json
Owners: @GoogleCloudPlatform/python-samples-owners

Update dependency boto3 to v1.10.44 (#2654)
  storage/s3-sdk/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners

Update dependency boto3 to v1.10.45 (#2656)
  storage/s3-sdk/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners

Update dependency Wand to v0.5.8 (#2652)
  .kokoro/tests/run_tests.sh
  functions/imagemagick/requirements.txt
  run/image-processing/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners

Adds Task name while creating Task (#2543)
  tasks/create_http_task.py
Owners: @GoogleCloudPlatform/python-samples-owners

add a setup step in CLI (#2611)
  appengine/standard_python37/pubsub/README.md
Owners: @GoogleCloudPlatform/python-samples-owners

Add initial Secret Manager samples (#2664)
  secretmanager/api-client/README.rst
  secretmanager/api-client/README.rst.in
  secretmanager/api-client/access_secret_version.py
  secretmanager/api-client/add_secret_version.py
  secretmanager/api-client/create_secret.py
  secretmanager/api-client/delete_secret.py
  secretmanager/api-client/destroy_secret_version.py
  secretmanager/api-client/disable_secret_version.py
  secretmanager/api-client/enable_secret_version.py
  secretmanager/api-client/get_secret.py
  secretmanager/api-client/get_secret_version.py
  secretmanager/api-client/list_secret_versions.py
  secretmanager/api-client/list_secrets.py
  secretmanager/api-client/quickstart.py
  secretmanager/api-client/requirements.txt
  secretmanager/api-client/snippets_test.py
  secretmanager/api-client/update_secret.py
Owners: @GoogleCloudPlatform/python-samples-owners

fix: Improve Firestore tests by separating test runs, improving cleanup (#2667)
  firestore/cloud-client/distributed_counters_test.py
  firestore/cloud-client/snippets.py
  firestore/cloud-client/snippets_test.py
Owners: @GoogleCloudPlatform/python-samples-owners

Automl ga vision classification (#2612)
  automl/cloud-client/resources/test.png
  automl/cloud-client/vision_classification_create_dataset.py
  automl/cloud-client/vision_classification_create_dataset_test.py
  automl/cloud-client/vision_classification_create_model.py
  automl/cloud-client/vision_classification_create_model_test.py
  automl/cloud-client/vision_classification_deploy_model_node_count.py
  automl/cloud-client/vision_classification_deploy_model_node_count_test.py
  automl/cloud-client/vision_classification_predict.py
  automl/cloud-client/vision_classification_predict_test.py
Owners: @GoogleCloudPlatform/python-samples-owners

automl: add translate ga samples (#2679)
  automl/cloud-client/resources/input.txt
  automl/cloud-client/translate_create_dataset.py
  automl/cloud-client/translate_create_dataset_test.py
  automl/cloud-client/translate_create_model.py
  automl/cloud-client/translate_create_model_test.py
  automl/cloud-client/translate_predict.py
  automl/cloud-client/translate_predict_test.py
Owners: @GoogleCloudPlatform/python-samples-owners

Add note in authoring guide about testing (#2683)
  AUTHORING_GUIDE.md
Owners: @GoogleCloudPlatform/python-samples-owners

fix: run lint and black on failing sample (#2669)
  codelabs/functions/python_powered/main.py
Owners: @GoogleCloudPlatform/python-samples-owners

fix: translate test (#2671)
  translate/cloud-client/beta_snippets.py
  translate/cloud-client/beta_snippets_test.py
Owners: @GoogleCloudPlatform/python-samples-owners

Pub/Sub: remove `_ah` in AppEngine Python3 sample (#2686)
  appengine/standard_python37/pubsub/README.md
  appengine/standard_python37/pubsub/main.py
  appengine/standard_python37/pubsub/main_test.py
Owners: @GoogleCloudPlatform/python-samples-owners

fix continuous lint (#2690)
  appengine/standard_python37/cloud_debugger/main.py
Owners: @GoogleCloudPlatform/python-samples-owners

automl: add natural language sentiment analysis ga samples (#2677)
  .kokoro/tests/run_tests.sh
  automl/cloud-client/delete_model_test.py
  automl/cloud-client/deploy_model_test.py
  automl/cloud-client/get_model_test.py
  automl/cloud-client/language_sentiment_analysis_create_dataset.py
  automl/cloud-client/language_sentiment_analysis_create_dataset_test.py
  automl/cloud-client/language_sentiment_analysis_create_model.py
  automl/cloud-client/language_sentiment_analysis_create_model_test.py
  automl/cloud-client/language_sentiment_analysis_predict.py
  automl/cloud-client/language_sentiment_analysis_predict_test.py
  automl/cloud-client/list_model_evaluations_test.py
  automl/cloud-client/translate_create_dataset.py
  automl/cloud-client/translate_create_dataset_test.py
  automl/cloud-client/translate_create_model_test.py
  automl/cloud-client/translate_predict_test.py
  automl/cloud-client/undeploy_model_test.py
  automl/cloud-client/vision_classification_create_model_test.py
  automl/cloud-client/vision_classification_deploy_model_node_count.py
  automl/cloud-client/vision_classification_deploy_model_node_count_test.py
  automl/cloud-client/vision_classification_predict_test.py
  translate/cloud-client/beta_snippets_test.py
Owners: @GoogleCloudPlatform/python-samples-owners

Have to specify flask library in app.yaml (#2567)
  appengine/standard/pubsub/app.yaml
Owners: @GoogleCloudPlatform/python-samples-owners

Revert appengine django dependency (#2691)
  appengine/standard_python37/django/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners

catch potential error retrieving datastore results (#2694)
  appengine/flexible/datastore/main.py
Owners: @GoogleCloudPlatform/python-samples-owners

Update Mac setup guide (#2697)
  MAC_SETUP.md
Owners: @GoogleCloudPlatform/python-samples-owners

Bump secretmanager version (#2699)
  secretmanager/api-client/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners

automl: add base dataset samples for automl ga (#2608)
  automl/cloud-client/delete_dataset.py
  automl/cloud-client/delete_dataset_test.py
  automl/cloud-client/export_dataset.py
  automl/cloud-client/export_dataset_test.py
  automl/cloud-client/get_dataset.py
  automl/cloud-client/get_dataset_test.py
  automl/cloud-client/import_dataset.py
  automl/cloud-client/import_dataset_test.py
  automl/cloud-client/list_datasets.py
  automl/cloud-client/list_datasets_test.py
Owners: @GoogleCloudPlatform/python-samples-owners

feat: dataproc quickstart sample added and create_cluster updated (#2629)
  dataproc/create_cluster.py
  dataproc/create_cluster_test.py
  dataproc/quickstart/quickstart.py
  dataproc/quickstart/quickstart_test.py
Owners: @GoogleCloudPlatform/python-samples-owners

Cleanup iam tests (#2701)
  iam/api-client/access.py
  iam/api-client/access_test.py
  iam/api-client/custom_roles_test.py
Owners: @GoogleCloudPlatform/python-samples-owners

Cleanup bigtable python examples (#2692)
  bigtable/hello/main.py
  bigtable/hello/main_test.py
  bigtable/hello/requirements.txt
  bigtable/hello_happybase/main_test.py
  bigtable/instanceadmin/requirements.txt
  bigtable/metricscaler/metricscaler_test.py
  bigtable/metricscaler/requirements.txt
  bigtable/quickstart/main_test.py
  bigtable/quickstart/requirements.txt
  bigtable/quickstart_happybase/main.py
  bigtable/quickstart_happybase/main_test.py
  bigtable/snippets/writes/requirements.txt
  bigtable/snippets/writes/write_batch.py
  bigtable/snippets/writes/write_conditionally.py
  bigtable/snippets/writes/write_increment.py
  bigtable/snippets/writes/write_simple.py
  bigtable/snippets/writes/writes_test.py
  bigtable/tableadmin/requirements.txt
  bigtable/tableadmin/tableadmin_test.py
  testing/secrets.tar.enc
Owners: @GoogleCloudPlatform/python-samples-owners

chore: update pytest version (#2703)
  pytest.ini
  testing/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners
