Repository topdev0528/python-docs-sample, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers, @GoogleCloudPlatform/aap-dpes, @glasnt, @GoogleCloudPlatform/api-spanner-python, @arithmetic1728, @shollyman, @GoogleCloudPlatform/billing-samples-maintainers, @mpwarres, @GoogleCloudPlatform/infra-db-dpes, @leahecole, @rachael-ds, @rafalbiegacz, @m-strzelczyk, @bradmiro, @davidcavazos, @GoogleCloudPlatform/cloud-native-db-dpes, @noerog, @gcseh, @GoogleCloudPlatform/api-iot, @ivanmkc, @yuriatgoogle, @alixhami, @anguillanneuf, @hongalex, @GoogleCloudPlatform/cloud-storage-dpes, @ymotongpoo, @nicain

nit(functions/helloworld): add whitespace to region tag
  functions/helloworld/main.py
Owners: @GoogleCloudPlatform/aap-dpes, @GoogleCloudPlatform/python-samples-reviewers

feat(functions/v2): add HTTP Structured Logging sample (#7746)
  functions/v2/http_logging/main.py
  functions/v2/http_logging/main_test.py
  functions/v2/http_logging/requirements-test.txt
  functions/v2/http_logging/requirements.txt
Owners: @GoogleCloudPlatform/aap-dpes, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency pyarrow to v8 (#7875)
  bigquery/bqml/requirements.txt
  bigquery/datalab-migration/requirements.txt
  bigquery/pandas-gbq-migration/requirements.txt
  data-science-onramp/data-processing/requirements-test.txt
Owners: @shollyman, @GoogleCloudPlatform/python-samples-reviewers, @leahecole, @bradmiro

Updating Django sample for Google App Engine Flexible Environment (#7873)
  appengine/flexible/hello_world_django/README.md
Owners: @GoogleCloudPlatform/aap-dpes, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency xmltodict to v0.13.0 (#7876)
  functions/http/requirements.txt
  functions/tips/requirements.txt
Owners: @GoogleCloudPlatform/aap-dpes, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency cryptography to v37.0.2 (#7863)
  compute/encryption/requirements.txt
  iap/requirements.txt
  iot/api-client/codelabs/requirements.txt
  iot/api-client/end_to_end_example/requirements.txt
  iot/api-client/gcs_file_to_device/requirements.txt
  iot/api-client/http_example/requirements.txt
  iot/api-client/mqtt_example/requirements.txt
Owners: @m-strzelczyk, @GoogleCloudPlatform/python-samples-reviewers, @gcseh, @GoogleCloudPlatform/api-iot

chore(deps): update dependency cloud-sql-python-connector to v0.6.1 (#7861)
  cloud-sql/postgres/sqlalchemy/requirements.txt
Owners: @GoogleCloudPlatform/infra-db-dpes, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency grpcio to v1.46.0 (#7864)
  bigquery/datalab-migration/requirements.txt
  bigquery/pandas-gbq-migration/requirements.txt
  opencensus/requirements.txt
  trace/cloud-trace-demo-app-opentelemetry/app/requirements.txt
  trace/cloud-trace-demo-app/app/requirements.txt
Owners: @shollyman, @GoogleCloudPlatform/python-samples-reviewers, @ymotongpoo

docs: add Google Cloud Samples browser link to readme template (#7886)
  README.md
Owners: @GoogleCloudPlatform/python-samples-owners

chore(deps): update dependency earthengine-api to v0.1.309 (#7884)
  people-and-planet-ai/geospatial-classification/requirements.txt
Owners: @davidcavazos, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency grpcio-tools to v1.46.1 (#7883)
  endpoints/bookstore-grpc-transcoding/requirements.txt
  endpoints/bookstore-grpc/requirements.txt
  endpoints/getting-started-grpc/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency grpcio to v1.46.1 (#7882)
  bigquery/datalab-migration/requirements.txt
  bigquery/pandas-gbq-migration/requirements.txt
  opencensus/requirements.txt
  trace/cloud-trace-demo-app-opentelemetry/app/requirements.txt
  trace/cloud-trace-demo-app/app/requirements.txt
Owners: @shollyman, @GoogleCloudPlatform/python-samples-reviewers, @ymotongpoo

chore(deps): update dependency pillow to v9.1.0 (#7743)
  appengine/flexible/scipy/requirements.txt
  dataflow/gpu-examples/tensorflow-landsat-prime/requirements.txt
  dataflow/gpu-examples/tensorflow-landsat/requirements.txt
  people-and-planet-ai/image-classification/requirements.txt
Owners: @GoogleCloudPlatform/aap-dpes, @GoogleCloudPlatform/python-samples-reviewers, @davidcavazos

chore(deps): pin dependency pyarrow to v (#7878)
  bigquery/bqml/requirements.txt
  bigquery/datalab-migration/requirements.txt
  bigquery/pandas-gbq-migration/requirements.txt
Owners: @shollyman, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency googleapis-common-protos to v1.56.1 (#7887)
  monitoring/opencensus/requirements.txt
  monitoring/prometheus/requirements.txt
Owners: @yuriatgoogle, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency pyjwt to v2.4.0 (#7888)
  appengine/standard/firebase/firenotes/backend/requirements.txt
  iot/api-client/codelabs/requirements.txt
  iot/api-client/end_to_end_example/requirements.txt
  iot/api-client/gcs_file_to_device/requirements.txt
  iot/api-client/http_example/requirements.txt
  iot/api-client/mqtt_example/requirements.txt
Owners: @GoogleCloudPlatform/aap-dpes, @GoogleCloudPlatform/python-samples-reviewers, @gcseh, @GoogleCloudPlatform/api-iot

feat(functions/v2): add imagemagick sample (#7880)
  functions/v2/imagemagick/README.md
  functions/v2/imagemagick/main.py
  functions/v2/imagemagick/main_test.py
  functions/v2/imagemagick/requirements-test.txt
  functions/v2/imagemagick/requirements.txt
  functions/v2/imagemagick/zombie.jpg
Owners: @GoogleCloudPlatform/aap-dpes, @GoogleCloudPlatform/python-samples-reviewers

feat(functions/slack): add GCF v2 decorators (#7889)
  functions/slack/main.py
  functions/slack/requirements.txt
Owners: @GoogleCloudPlatform/aap-dpes, @GoogleCloudPlatform/python-samples-reviewers

Added DAG file for Airflow Summit 2022 (#7877)
  composer/2022_airflow_summit/README.md
  composer/2022_airflow_summit/parallel_work.py
  composer/2022_airflow_summit/parallel_work_test.py
  composer/2022_airflow_summit/requirements-test.txt
  composer/2022_airflow_summit/requirements.txt
  composer/README.md
Owners: @leahecole, @rachael-ds, @rafalbiegacz, @GoogleCloudPlatform/python-samples-reviewers

Fix airflow_db_cleanup script for Airflow 2 (#7847)
  composer/workflows/airflow_db_cleanup.py
Owners: @leahecole, @rachael-ds, @rafalbiegacz, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency google-api-core to v2.8.0 (#7909)
  composer/cicd_sample/utils/requirements-test.txt
  monitoring/opencensus/requirements.txt
  monitoring/prometheus/requirements.txt
Owners: @leahecole, @rachael-ds, @rafalbiegacz, @GoogleCloudPlatform/python-samples-reviewers, @yuriatgoogle

chore(deps): update dependency pillow to v9.1.1 (#7902)
  appengine/flexible/scipy/requirements.txt
  dataflow/gpu-examples/tensorflow-landsat-prime/requirements.txt
  dataflow/gpu-examples/tensorflow-landsat/requirements.txt
  people-and-planet-ai/image-classification/requirements.txt
Owners: @GoogleCloudPlatform/aap-dpes, @GoogleCloudPlatform/python-samples-reviewers, @davidcavazos

chore(deps): update dependency scipy to v1.8.1 (#7904)
  composer/workflows/requirements.txt
Owners: @leahecole, @rachael-ds, @rafalbiegacz, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency google-resumable-media to v2.3.3 (#7914)
  composer/cicd_sample/utils/requirements-test.txt
Owners: @leahecole, @rachael-ds, @rafalbiegacz, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency google-cloud-compute to v1.3.1 (#7913)
  functions/v2/label_gce_instance/requirements.txt
Owners: @GoogleCloudPlatform/aap-dpes, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency google-cloud-firestore to v2.5.0 (#7918)
  firestore/cloud-async-client/requirements.txt
  firestore/cloud-client/requirements.txt
  functions/firebase/requirements.txt
Owners: @GoogleCloudPlatform/cloud-native-db-dpes, @GoogleCloudPlatform/python-samples-reviewers, @GoogleCloudPlatform/aap-dpes

chore(deps): update dependency google-cloud-billing to v1.6.0 (#7917)
  billing/requirements.txt
Owners: @GoogleCloudPlatform/billing-samples-maintainers, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency google-cloud-workflows to v1.6.2 (#7916)
  workflows/cloud-client/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency google-cloud-service-directory to v1.4.0 (#7920)
  servicedirectory/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

Added DAG file for Airflow Summit 2022 (#7903)
  composer/2022_airflow_summit/README.md
  composer/2022_airflow_summit/retries.py
  composer/2022_airflow_summit/retries_test.py
Owners: @leahecole, @rachael-ds, @rafalbiegacz, @GoogleCloudPlatform/python-samples-reviewers

Improve Error Handling for Pause/Unpause DAG script (#7885)
  composer/tools/composer_dags.py
Owners: @leahecole, @rachael-ds, @rafalbiegacz, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency twilio to v7.9.1 (#7908)
  appengine/flexible/twilio/requirements.txt
Owners: @GoogleCloudPlatform/aap-dpes, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency earthengine-api to v0.1.310 (#7907)
  people-and-planet-ai/geospatial-classification/requirements.txt
Owners: @davidcavazos, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency google-cloud-translate to v3.7.3 (#7915)
  functions/ocr/app/requirements.txt
Owners: @GoogleCloudPlatform/aap-dpes, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency google-cloud-iot to v2.5.0 (#7919)
  iot/api-client/gcs_file_to_device/requirements.txt
  iot/api-client/http_example/requirements.txt
  iot/api-client/mqtt_example/requirements.txt
Owners: @gcseh, @GoogleCloudPlatform/api-iot, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency google-cloud-bigquery to v2.34.3 (#7758)
  appengine/standard_python3/bigquery/requirements.txt
  bigquery/bqml/requirements.txt
  bigquery/datalab-migration/requirements.txt
  bigquery/pandas-gbq-migration/requirements.txt
  data-science-onramp/data-ingestion/requirements.txt
  data-science-onramp/data-processing/requirements-test.txt
  notebooks/requirements.txt
  people-and-planet-ai/geospatial-classification/constraints.txt
  people-and-planet-ai/image-classification/requirements.txt
  people-and-planet-ai/timeseries-classification/constraints.txt
Owners: @GoogleCloudPlatform/aap-dpes, @GoogleCloudPlatform/python-samples-reviewers, @shollyman, @leahecole, @bradmiro, @alixhami, @davidcavazos

chore(deps): update dependency six to v1.16.0 (#7895)
  functions/v2/imagemagick/requirements-test.txt
Owners: @GoogleCloudPlatform/aap-dpes, @GoogleCloudPlatform/python-samples-reviewers

Update main for Python 3. Use .items() instead of .iteritems() (#7901)
  datastore/cloud-client/snippets.py
Owners: @GoogleCloudPlatform/cloud-native-db-dpes, @GoogleCloudPlatform/python-samples-reviewers

docs: update variable comment (#7921)
  composer/workflows/dataproc_batch_operators.py
Owners: @leahecole, @rachael-ds, @rafalbiegacz, @GoogleCloudPlatform/python-samples-reviewers

ppai: add landcover sample (#7805)
  people-and-planet-ai/README.md
  people-and-planet-ai/land-cover-classification/.gitignore
  people-and-planet-ai/land-cover-classification/MANIFEST.in
  people-and-planet-ai/land-cover-classification/README.md
  people-and-planet-ai/land-cover-classification/batch_predict.py
  people-and-planet-ai/land-cover-classification/constraints.txt
  people-and-planet-ai/land-cover-classification/create_datasets.py
  people-and-planet-ai/land-cover-classification/data/images/land-cover-change.gif
  people-and-planet-ai/land-cover-classification/data/images/model-architecture.png
  people-and-planet-ai/land-cover-classification/data/images/restart-runtime.png
  people-and-planet-ai/land-cover-classification/data/images/run-cell.png
  people-and-planet-ai/land-cover-classification/data/model/keras_metadata.pb
  people-and-planet-ai/land-cover-classification/data/model/saved_model.pb
  people-and-planet-ai/land-cover-classification/data/model/variables/variables.data-00000-of-00001
  people-and-planet-ai/land-cover-classification/data/model/variables/variables.index
  people-and-planet-ai/land-cover-classification/data/prediction-locations.csv
  people-and-planet-ai/land-cover-classification/data/training-bounds.csv
  people-and-planet-ai/land-cover-classification/e2e_test.py
  people-and-planet-ai/land-cover-classification/noxfile_config.py
  people-and-planet-ai/land-cover-classification/requirements-test.txt
  people-and-planet-ai/land-cover-classification/requirements.txt
  people-and-planet-ai/land-cover-classification/serving/Dockerfile
  people-and-planet-ai/land-cover-classification/serving/main.py
  people-and-planet-ai/land-cover-classification/serving/requirements.txt
  people-and-planet-ai/land-cover-classification/setup.py
  people-and-planet-ai/land-cover-classification/trainer.py
Owners: @davidcavazos, @GoogleCloudPlatform/python-samples-reviewers

.github/CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax


# Prefer GitHub teams over individuals to make it easier to find a suitable owner
# when someone is OOO or leaves the team.

# python-samples-owners is in charge of infrastructure (Kokoro, noxfiles, etc.) in this repository
# python-samples-reviewers reviews Python sample code for adherence to sample guidelines
*                                      @GoogleCloudPlatform/python-samples-owners @GoogleCloudPlatform/python-samples-reviewers
/.github/                              @GoogleCloudPlatform/python-samples-owners
/.kokoro/                              @GoogleCloudPlatform/python-samples-owners
/*                                     @GoogleCloudPlatform/python-samples-owners

/appengine/**/*                        @GoogleCloudPlatform/aap-dpes  @GoogleCloudPlatform/python-samples-reviewers
/appengine/standard/django/**/*        @glasnt @GoogleCloudPlatform/aap-dpes  @GoogleCloudPlatform/python-samples-reviewers
/appengine/flexible/django_cloudsql/**/*     @glasnt @GoogleCloudPlatform/aap-dpes  @GoogleCloudPlatform/python-samples-reviewers
/appengine/standard_python3/spanner/*        @GoogleCloudPlatform/api-spanner-python @GoogleCloudPlatform/python-samples-reviewers
/auth/**/*                             @arithmetic1728 @GoogleCloudPlatform/python-samples-reviewers
/bigquery/**/*                         @shollyman @GoogleCloudPlatform/python-samples-reviewers
/billing/**/*                          @GoogleCloudPlatform/billing-samples-maintainers @GoogleCloudPlatform/python-samples-reviewers
/blog/**/*                             @GoogleCloudPlatform/python-samples-reviewers
/cdn/**/*                              @mpwarres @GoogleCloudPlatform/python-samples-reviewers
/cloud-sql/**/*                        @GoogleCloudPlatform/infra-db-dpes @GoogleCloudPlatform/python-samples-reviewers
/codelabs/**/*                         @GoogleCloudPlatform/python-samples-reviewers
/composer/**/*                         @leahecole @rachael-ds @rafalbiegacz @GoogleCloudPlatform/python-samples-reviewers
/compute/**/*                          @m-strzelczyk @GoogleCloudPlatform/python-samples-reviewers
/data-science-onramp/                  @leahecole @bradmiro @GoogleCloudPlatform/python-samples-reviewers
/dataflow/**/*                         @davidcavazos @GoogleCloudPlatform/python-samples-reviewers
/datastore/**/*                        @GoogleCloudPlatform/cloud-native-db-dpes @GoogleCloudPlatform/python-samples-reviewers
/dns/**/*                              @GoogleCloudPlatform/python-samples-reviewers
/endpoints/**/*                        @GoogleCloudPlatform/python-samples-reviewers
/eventarc/**/*                         @GoogleCloudPlatform/aap-dpes  @GoogleCloudPlatform/python-samples-reviewers
/firestore/**/*                        @GoogleCloudPlatform/cloud-native-db-dpes @GoogleCloudPlatform/python-samples-reviewers
/functions/**/*                        @GoogleCloudPlatform/aap-dpes  @GoogleCloudPlatform/python-samples-reviewers
/functions/spanner/*                   @GoogleCloudPlatform/api-spanner-python @GoogleCloudPlatform/python-samples-reviewers
/healthcare/**/*                       @noerog @GoogleCloudPlatform/python-samples-reviewers
/iam/**/*                              @GoogleCloudPlatform/python-samples-reviewers
/iap/**/*                              @GoogleCloudPlatform/python-samples-reviewers
/iot/**/*                              @gcseh @GoogleCloudPlatform/api-iot @GoogleCloudPlatform/python-samples-reviewers
/jobs/**/*                             @GoogleCloudPlatform/python-samples-reviewers
/kubernetes_engine/**/*                @GoogleCloudPlatform/python-samples-reviewers
/kubernetes_engine/django_tutorial/**/*    @glasnt @GoogleCloudPlatform/python-samples-reviewers
/memorystore/**/*                      @GoogleCloudPlatform/python-samples-reviewers
/ml_engine/**/*                        @ivanmkc @GoogleCloudPlatform/python-samples-reviewers
/monitoring/**/*                       @GoogleCloudPlatform/python-samples-reviewers
/monitoring/opencensus                 @yuriatgoogle @GoogleCloudPlatform/python-samples-reviewers
/monitoring/prometheus                 @yuriatgoogle @GoogleCloudPlatform/python-samples-reviewers
/notebooks/**/*                        @alixhami @GoogleCloudPlatform/python-samples-reviewers
/opencensus/**/*                       @GoogleCloudPlatform/python-samples-reviewers
/people-and-planet-ai/**/*             @davidcavazos @GoogleCloudPlatform/python-samples-reviewers
/profiler/**/*                         @GoogleCloudPlatform/python-samples-reviewers
/pubsub/**/*                           @anguillanneuf @hongalex @GoogleCloudPlatform/python-samples-reviewers
/pubsublite/**/*                       @anguillanneuf @hongalex @GoogleCloudPlatform/python-samples-reviewers
/run/**/*                              @GoogleCloudPlatform/aap-dpes  @GoogleCloudPlatform/python-samples-reviewers
/run/django/**/*                       @glasnt @GoogleCloudPlatform/aap-dpes  @GoogleCloudPlatform/python-samples-reviewers
/storage/**/*                          @GoogleCloudPlatform/cloud-storage-dpes @GoogleCloudPlatform/python-samples-reviewers
/storagetransfer/**/*                  @GoogleCloudPlatform/cloud-storage-dpes @GoogleCloudPlatform/python-samples-reviewers
/trace/**/*                            @ymotongpoo @GoogleCloudPlatform/python-samples-reviewers
/translate/**/*                        @nicain @GoogleCloudPlatform/python-samples-reviewers
/workflows/**/*                        @GoogleCloudPlatform/python-samples-reviewers
