Repository topdev0528/python-docs-sample, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers, @GoogleCloudPlatform/aap-dpes, @glasnt, @GoogleCloudPlatform/api-spanner-python, @busunkim96, @arithmetic1728, @shollyman, @GoogleCloudPlatform/billing-samples-maintainers, @mpwarres, @GoogleCloudPlatform/infra-db-dpes, @leahecole, @rachael-ds, @rafalbiegacz, @m-strzelczyk, @bradmiro, @davidcavazos, @GoogleCloudPlatform/cloud-native-db-dpes, @noerog, @gcseh, @GoogleCloudPlatform/api-iot, @ivanmkc, @yuriatgoogle, @alixhami, @anguillanneuf, @hongalex, @GoogleCloudPlatform/cloud-storage-dpes, @ymotongpoo, @nicain

chore(deps): update dependency earthengine-api to v0.1.304 (#7737)
  people-and-planet-ai/geospatial-classification/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency google-cloud-tasks to v1.5.1 (#7742)
  appengine/standard/migration/taskqueue/counter/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

chore(functions/storage): clarify comments (#7738)
  functions/helloworld/main.py
Owners: @GoogleCloudPlatform/aap-dpes, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency apache-airflow-providers-google to v6.6.0 (#7617)
  composer/workflows/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency opentelemetry-exporter-gcp-trace to v1.2.0 (#7760)
  trace/cloud-trace-demo-app-opentelemetry/app/requirements.txt
  trace/trace-python-sample-opentelemetry/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency prometheus-flask-exporter to v0.20.0 (#7763)
  monitoring/opencensus/requirements.txt
  monitoring/prometheus/requirements.txt
Owners: @yuriatgoogle, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency apache-airflow-providers-apache-beam to v3.3.0 (#7613)
  composer/blog/gcp-tech-blog/data-orchestration-with-composer/requirements.txt
  composer/workflows/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency bleach to v5 (#7770)
  run/markdown-preview/renderer/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency google-cloud-secret-manager to v2.10.0 (#7750)
  appengine/flexible/django_cloudsql/requirements.txt
  appengine/standard_python3/django/requirements.txt
  run/django/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency google-cloud-trace to v0.24.1 (#7747)
  trace/cloud-trace-demo-app/app/requirements.txt
  trace/trace-python-sample/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency google-cloud-compute to v1.2.0 (#7775)
  functions/v2/label_gce_instance/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency google-cloud-dataproc to v4.0.2 (#7772)
  data-science-onramp/data-ingestion/requirements.txt
  data-science-onramp/data-processing/requirements.txt
  pubsublite/spark-connector/requirements-test.txt
Owners: @leahecole, @bradmiro, @GoogleCloudPlatform/python-samples-reviewers, @GoogleCloudPlatform/python-samples-owners

chore(deps): update dependency twilio to v7.8.1 (#7769)
  appengine/flexible/twilio/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency google-cloud-bigtable to v2.8.0 (#7759)
  functions/bigtable/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency prometheus-flask-exporter to v0.20.1 (#7773)
  monitoring/opencensus/requirements.txt
  monitoring/prometheus/requirements.txt
Owners: @yuriatgoogle, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency prometheus-client to v0.14.1 (#7778)
  monitoring/opencensus/requirements.txt
  monitoring/prometheus/requirements.txt
Owners: @yuriatgoogle, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency earthengine-api to v0.1.305 (#7771)
  people-and-planet-ai/geospatial-classification/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency opentelemetry-propagator-gcp to v1.2.0 (#7761)
  trace/cloud-trace-demo-app-opentelemetry/app/requirements.txt
  trace/trace-python-sample-opentelemetry/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency grpc-google-iam-v1 to v0.12.4 (#7766)
  iot/api-client/mqtt_example/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency google-cloud-profiler to v3.0.8 (#7784)
  profiler/appengine/flexible/requirements.txt
  profiler/appengine/standard_python37/requirements.txt
  profiler/quickstart/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency google-cloud-pubsub to v1.7.1 (#7768)
  appengine/standard/migration/taskqueue/pull-counter/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency django to v4.0.3 (#7765)
  appengine/flexible/django_cloudsql/requirements.txt
  appengine/flexible/hello_world_django/requirements.txt
  appengine/standard_python3/django/requirements.txt
  kubernetes_engine/django_tutorial/requirements.txt
  run/django/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

Dataproc Serverless workflows (#7625)
  composer/workflows/dataproc_batch_operators.py
  composer/workflows/dataproc_batch_operators_test.py
Owners: @leahecole, @rachael-ds, @rafalbiegacz, @GoogleCloudPlatform/python-samples-reviewers

chore(functions/helloworld): update product names (#7793)
  functions/helloworld/main.py
Owners: @GoogleCloudPlatform/aap-dpes, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency earthengine-api to v0.1.306 (#7792)
  people-and-planet-ai/geospatial-classification/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency google-api-core to v2.7.2 (#7791)
  composer/cicd_sample/utils/requirements-test.txt
  monitoring/opencensus/requirements.txt
  monitoring/prometheus/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers, @yuriatgoogle

fix: e2e test errors (#7777)
  run/filesystem/cloudbuild.yaml
  run/filesystem/retry.sh
  run/jobs/Procfile
  run/jobs/e2e_test.py
  run/jobs/e2e_test_setup.yaml
  run/jobs/main.py
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers, @GoogleCloudPlatform/aap-dpes

chore(auth): document Cloud Run URL structure (#7795)
  auth/service-to-service/auth.py
Owners: @busunkim96, @arithmetic1728, @GoogleCloudPlatform/python-samples-reviewers

fix: type linting issue (#7789)
  run/deployment-previews/test_app.py
Owners: @GoogleCloudPlatform/aap-dpes, @GoogleCloudPlatform/python-samples-reviewers

ppai: fix lint errors (#7788)
  people-and-planet-ai/image-classification/e2e_test.py
  people-and-planet-ai/image-classification/requirements.txt
  people-and-planet-ai/image-classification/train_model.py
  people-and-planet-ai/timeseries-classification/create_datasets.py
  people-and-planet-ai/timeseries-classification/trainer.py
Owners: @davidcavazos, @GoogleCloudPlatform/python-samples-reviewers, @GoogleCloudPlatform/python-samples-owners

chore(deps): update dependency google-cloud-aiplatform to v1.12.0 (#7774)
  data-science-onramp/vertex-ai/requirements.txt
  people-and-planet-ai/geospatial-classification/requirements.txt
  people-and-planet-ai/image-classification/requirements.txt
  people-and-planet-ai/timeseries-classification/requirements.txt
Owners: @leahecole, @bradmiro, @GoogleCloudPlatform/python-samples-reviewers, @GoogleCloudPlatform/python-samples-owners

update Flask to 2.0.3 for flex codelab demo (#7802)
  codelabs/flex_and_vision/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency apache-airflow-providers-cncf-kubernetes to v4 (#7782)
  composer/workflows/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

chore: Update Airflow 2 GKE sample to use regional clusters (#7753)
  composer/workflows/gke_operator.py
Owners: @leahecole, @rachael-ds, @rafalbiegacz, @GoogleCloudPlatform/python-samples-reviewers

Reassert idp-sql and django tests (#7779)
  run/django/e2e_test.py
  run/django/e2e_test_cleanup.yaml
  run/django/e2e_test_setup.yaml
  run/django/retry.sh
  run/idp-sql/README.md
  run/idp-sql/e2e_test.py
  run/idp-sql/e2e_test_cleanup.yaml
  run/idp-sql/e2e_test_setup.yaml
  run/idp-sql/middleware.py
  run/idp-sql/retry.sh
Owners: @glasnt, @GoogleCloudPlatform/aap-dpes, @GoogleCloudPlatform/python-samples-reviewers, @GoogleCloudPlatform/python-samples-owners

docs: add guidelines around imports and initializing GAPIC objects (#6582)
  AUTHORING_GUIDE.md
Owners: @GoogleCloudPlatform/python-samples-owners

.github/CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax


# Prefer GitHub teams over individuals to make it easier to find a suitable owner
# when someone is OOO or leaves the team.

# python-samples-owners is in charge of infrastructure (Kokoro, noxfiles, etc.) in this repository
# python-samples-reviewers reviews Python sample code for adherence to sample guidelines
*                                      @GoogleCloudPlatform/python-samples-owners @GoogleCloudPlatform/python-samples-reviewers
/.github/                              @GoogleCloudPlatform/python-samples-owners
/.kokoro/                              @GoogleCloudPlatform/python-samples-owners
/*                                     @GoogleCloudPlatform/python-samples-owners

/appengine/**/*.py                     @GoogleCloudPlatform/aap-dpes  @GoogleCloudPlatform/python-samples-reviewers
/appengine/standard/django/**/*.py     @glasnt @GoogleCloudPlatform/aap-dpes  @GoogleCloudPlatform/python-samples-reviewers
/appengine/flexible/django_cloudsql/**/*.py  @glasnt @GoogleCloudPlatform/aap-dpes  @GoogleCloudPlatform/python-samples-reviewers
/appengine/standard_python3/spanner/*.py     @GoogleCloudPlatform/api-spanner-python @GoogleCloudPlatform/python-samples-reviewers
/auth/**/*.py                          @busunkim96 @arithmetic1728 @GoogleCloudPlatform/python-samples-reviewers
/bigquery/**/*.py                      @shollyman @GoogleCloudPlatform/python-samples-reviewers
/billing/**/*.py                       @GoogleCloudPlatform/billing-samples-maintainers @GoogleCloudPlatform/python-samples-reviewers
/blog/**/*.py                          @GoogleCloudPlatform/python-samples-reviewers
/cdn/**/*.py                           @mpwarres @GoogleCloudPlatform/python-samples-reviewers
/cloud-sql/**/*.py                     @GoogleCloudPlatform/infra-db-dpes @GoogleCloudPlatform/python-samples-reviewers
/codelabs/**/*.py                      @GoogleCloudPlatform/python-samples-reviewers
/composer/**/*.py                      @leahecole @rachael-ds @rafalbiegacz @GoogleCloudPlatform/python-samples-reviewers
/compute/**/*.py                       @m-strzelczyk @GoogleCloudPlatform/python-samples-reviewers
/data-science-onramp/                  @leahecole @bradmiro @GoogleCloudPlatform/python-samples-reviewers
/dataflow/**/*.py                      @davidcavazos @GoogleCloudPlatform/python-samples-reviewers
/datastore/**/*.py                     @GoogleCloudPlatform/cloud-native-db-dpes @GoogleCloudPlatform/python-samples-reviewers
/dns/**/*.py                           @GoogleCloudPlatform/python-samples-reviewers
/endpoints/**/*.py                     @GoogleCloudPlatform/python-samples-reviewers
/eventarc/**/*.py                      @GoogleCloudPlatform/aap-dpes  @GoogleCloudPlatform/python-samples-reviewers
/firestore/**/*.py                     @GoogleCloudPlatform/cloud-native-db-dpes @GoogleCloudPlatform/python-samples-reviewers
/functions/**/*.py                     @GoogleCloudPlatform/aap-dpes  @GoogleCloudPlatform/python-samples-reviewers
/functions/spanner/*.py                @GoogleCloudPlatform/api-spanner-python @GoogleCloudPlatform/python-samples-reviewers
/healthcare/**/*.py                    @noerog @GoogleCloudPlatform/python-samples-reviewers
/iam/**/*.py                           @GoogleCloudPlatform/python-samples-reviewers
/iap/**/*.py                           @GoogleCloudPlatform/python-samples-reviewers
/iot/**/*.py                           @gcseh @GoogleCloudPlatform/api-iot @GoogleCloudPlatform/python-samples-reviewers
/jobs/**/*.py                          @GoogleCloudPlatform/python-samples-reviewers
/kubernetes_engine/**/*.py             @GoogleCloudPlatform/python-samples-reviewers
/kubernetes_engine/django_tutorial/**/*.py @glasnt @GoogleCloudPlatform/python-samples-reviewers
/memorystore/**/*.py                   @GoogleCloudPlatform/python-samples-reviewers
/ml_engine/**/*.py                     @ivanmkc @GoogleCloudPlatform/python-samples-reviewers
/monitoring/**/*.py                    @GoogleCloudPlatform/python-samples-reviewers
/monitoring/opencensus                 @yuriatgoogle @GoogleCloudPlatform/python-samples-reviewers
/monitoring/prometheus                 @yuriatgoogle @GoogleCloudPlatform/python-samples-reviewers
/notebooks/**/*.py                     @alixhami @GoogleCloudPlatform/python-samples-reviewers
/opencensus/**/*.py                    @GoogleCloudPlatform/python-samples-reviewers
/people-and-planet-ai/**/*.py          @davidcavazos @GoogleCloudPlatform/python-samples-reviewers
/profiler/**/*.py                      @GoogleCloudPlatform/python-samples-reviewers
/pubsub/**/*.py                        @anguillanneuf @hongalex @GoogleCloudPlatform/python-samples-reviewers
/pubsublite/**/*.py                    @anguillanneuf @hongalex @GoogleCloudPlatform/python-samples-reviewers
/run/**/*.py                           @GoogleCloudPlatform/aap-dpes  @GoogleCloudPlatform/python-samples-reviewers
/run/django/**/*.py                    @glasnt @GoogleCloudPlatform/aap-dpes  @GoogleCloudPlatform/python-samples-reviewers
/storage/**/*.py                       @GoogleCloudPlatform/cloud-storage-dpes @GoogleCloudPlatform/python-samples-reviewers
/storagetransfer/**/*.py               @GoogleCloudPlatform/cloud-storage-dpes @GoogleCloudPlatform/python-samples-reviewers
/trace/**/*.py                         @ymotongpoo @GoogleCloudPlatform/python-samples-reviewers
/translate/**/*.py                     @nicain @GoogleCloudPlatform/python-samples-reviewers
/workflows/**/*.py                     @GoogleCloudPlatform/python-samples-reviewers
