Repository topdev0528/python-docs-sample, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers, @GoogleCloudPlatform/aap-dpes, @glasnt, @GoogleCloudPlatform/api-spanner-python, @busunkim96, @arithmetic1728, @shollyman, @GoogleCloudPlatform/billing-samples-maintainers, @mpwarres, @GoogleCloudPlatform/infra-db-dpes, @leahecole, @rachael-ds, @rafalbiegacz, @m-strzelczyk, @bradmiro, @davidcavazos, @GoogleCloudPlatform/cloud-native-db-dpes, @noerog, @gcseh, @GoogleCloudPlatform/api-iot, @ivanmkc, @yuriatgoogle, @alixhami, @anguillanneuf, @hongalex, @GoogleCloudPlatform/cloud-storage-dpes, @ymotongpoo, @nicain

chore(deps): update dependency google-cloud-secret-manager to v2.9.2 (#7592)
  appengine/flexible/django_cloudsql/requirements.txt
  appengine/standard_python3/django/requirements.txt
  run/django/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency google-cloud-firestore to v2.4.0 (#7572)
  firestore/cloud-async-client/requirements.txt
  firestore/cloud-client/requirements.txt
  functions/firebase/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency google-cloud-trace to v1.6.1 (#7567)
  trace/cloud-trace-demo-app-opentelemetry/app/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency apache-airflow-providers-cncf-kubernetes to v3.1.0 (#7586)
  composer/workflows/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency apache-airflow-providers-apache-beam to v3.2.0 (#7585)
  composer/blog/gcp-tech-blog/data-orchestration-with-composer/requirements.txt
  composer/workflows/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

fix(storage): add backoff to retry flaky test (#7582)
  storagetransfer/check_latest_transfer_operation_test.py
Owners: @GoogleCloudPlatform/cloud-storage-dpes, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency google-api-python-client to v2.40.0 (#7581)
  appengine/standard_python3/pubsub/requirements.txt
  auth/api-client/requirements.txt
  auth/end-user/web/requirements.txt
  compute/api/requirements.txt
  compute/auth/requirements.txt
  compute/encryption/requirements.txt
  compute/load_balancing/requirements.txt
  compute/oslogin/requirements.txt
  dataflow/flex-templates/streaming_beam/requirements-test.txt
  dataflow/gpu-examples/pytorch-minimal/requirements-test.txt
  dataflow/gpu-examples/tensorflow-landsat-prime/requirements-test.txt
  dataflow/gpu-examples/tensorflow-landsat/requirements-test.txt
  dataflow/gpu-examples/tensorflow-minimal/requirements-test.txt
  dataflow/run_template/requirements.txt
  datastore/schedule-export/requirements.txt
  endpoints/getting-started/clients/service_to_service_non_default/requirements.txt
  functions/billing/requirements.txt
  functions/slack/requirements.txt
  healthcare/api-client/v1/datasets/requirements.txt
  healthcare/api-client/v1/dicom/requirements.txt
  healthcare/api-client/v1/fhir/requirements.txt
  healthcare/api-client/v1/hl7v2/requirements.txt
  healthcare/api-client/v1beta1/fhir/requirements.txt
  iam/api-client/requirements.txt
  iot/api-client/end_to_end_example/requirements.txt
  iot/api-client/gcs_file_to_device/requirements.txt
  iot/api-client/http_example/requirements.txt
  iot/api-client/mqtt_example/requirements.txt
  jobs/v3/api_client/requirements.txt
  kubernetes_engine/api-client/requirements.txt
  ml_engine/online_prediction/requirements.txt
  monitoring/api/v3/api-client/requirements.txt
  notebooks/samples/requirements.txt
  people-and-planet-ai/timeseries-classification/requirements-test.txt
  run/deployment-previews/requirements.txt
  run/markdown-preview/requirements-test.txt
  storage/api/requirements.txt
  storagetransfer/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

fix(deps): resolving missing modules & versions (#7583)
  appengine/flexible/websockets/requirements.txt
  trace/cloud-trace-demo-app-opentelemetry/app/requirements.txt
  trace/cloud-trace-demo-app/app/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency google-api-python-client to v1.12.11 (#7597)
  appengine/standard/mailgun/requirements-test.txt
  appengine/standard/pubsub/requirements.txt
  appengine/standard/storage/api-client/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

feat(compute): Adding script for OS Login with physical keys (#7448)
  compute/oslogin/physical_security_key_ssh.py
Owners: @m-strzelczyk, @GoogleCloudPlatform/python-samples-reviewers

refactor(storagetransfer): Use public `transport` rather than `_transport` (#7602)
  storagetransfer/check_latest_transfer_operation.py
  storagetransfer/transfer_check.py
Owners: @GoogleCloudPlatform/cloud-storage-dpes, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency google-auth-oauthlib to v0.5.1 (#7599)
  auth/end-user/web/requirements.txt
  endpoints/getting-started/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency google-api-python-client to v2.41.0 (#7598)
  appengine/standard_python3/pubsub/requirements.txt
  auth/api-client/requirements.txt
  auth/end-user/web/requirements.txt
  compute/api/requirements.txt
  compute/auth/requirements.txt
  compute/encryption/requirements.txt
  compute/load_balancing/requirements.txt
  compute/oslogin/requirements.txt
  dataflow/flex-templates/streaming_beam/requirements-test.txt
  dataflow/gpu-examples/pytorch-minimal/requirements-test.txt
  dataflow/gpu-examples/tensorflow-landsat-prime/requirements-test.txt
  dataflow/gpu-examples/tensorflow-landsat/requirements-test.txt
  dataflow/gpu-examples/tensorflow-minimal/requirements-test.txt
  dataflow/run_template/requirements.txt
  datastore/schedule-export/requirements.txt
  endpoints/getting-started/clients/service_to_service_non_default/requirements.txt
  functions/billing/requirements.txt
  functions/slack/requirements.txt
  healthcare/api-client/v1/datasets/requirements.txt
  healthcare/api-client/v1/dicom/requirements.txt
  healthcare/api-client/v1/fhir/requirements.txt
  healthcare/api-client/v1/hl7v2/requirements.txt
  healthcare/api-client/v1beta1/fhir/requirements.txt
  iam/api-client/requirements.txt
  iot/api-client/end_to_end_example/requirements.txt
  iot/api-client/gcs_file_to_device/requirements.txt
  iot/api-client/http_example/requirements.txt
  iot/api-client/mqtt_example/requirements.txt
  jobs/v3/api_client/requirements.txt
  kubernetes_engine/api-client/requirements.txt
  ml_engine/online_prediction/requirements.txt
  monitoring/api/v3/api-client/requirements.txt
  notebooks/samples/requirements.txt
  people-and-planet-ai/timeseries-classification/requirements-test.txt
  run/deployment-previews/requirements.txt
  run/markdown-preview/requirements-test.txt
  storage/api/requirements.txt
  storagetransfer/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency earthengine-api to v0.1.303 (#7607)
  people-and-planet-ai/geospatial-classification/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency googleapis-common-protos to v1.56.0 (#7610)
  monitoring/opencensus/requirements.txt
  monitoring/prometheus/requirements.txt
Owners: @yuriatgoogle, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency cryptography to v36.0.2 (#7603)
  compute/encryption/requirements.txt
  iap/requirements.txt
  iot/api-client/codelabs/requirements.txt
  iot/api-client/end_to_end_example/requirements.txt
  iot/api-client/gcs_file_to_device/requirements.txt
  iot/api-client/http_example/requirements.txt
  iot/api-client/mqtt_example/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency google-cloud-bigtable to v2.7.1 (#7609)
  functions/bigtable/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency apache-airflow-providers-cncf-kubernetes to v3.1.1 (#7614)
  composer/workflows/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

Fix airflow_db_cleanup script (#7593)
  composer/airflow_1_samples/airflow_db_cleanup.py
Owners: @leahecole, @rachael-ds, @rafalbiegacz, @GoogleCloudPlatform/python-samples-reviewers

Update Airflow constraints and requirements (#7627)
  composer/workflows/constraints.txt
  composer/workflows/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency twilio to v7.8.0 (#7626)
  appengine/flexible/twilio/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

docs: add README for media-translation (#7631)
  media-translation/README.md
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

dataflow/custom-containers: add readmes and support cli options (#7601)
  dataflow/custom-containers/miniconda/.gcloudignore
  dataflow/custom-containers/miniconda/Dockerfile
  dataflow/custom-containers/miniconda/README.md
  dataflow/custom-containers/miniconda/e2e_test.py
  dataflow/custom-containers/miniconda/main.py
  dataflow/custom-containers/miniconda/noxfile_config.py
  dataflow/custom-containers/miniconda/requirements-test.txt
  dataflow/custom-containers/miniconda/requirements.txt
  dataflow/custom-containers/miniconda/run.yaml
  dataflow/custom-containers/minimal/.gcloudignore
  dataflow/custom-containers/minimal/Dockerfile
  dataflow/custom-containers/minimal/README.md
  dataflow/custom-containers/minimal/e2e_test.py
  dataflow/custom-containers/minimal/main.py
  dataflow/custom-containers/minimal/noxfile_config.py
  dataflow/custom-containers/minimal/requirements-test.txt
  dataflow/custom-containers/minimal/requirements.txt
  dataflow/custom-containers/minimal/run.yaml
  dataflow/custom-containers/ubuntu/.gcloudignore
  dataflow/custom-containers/ubuntu/Dockerfile
  dataflow/custom-containers/ubuntu/README.md
  dataflow/custom-containers/ubuntu/e2e_test.py
  dataflow/custom-containers/ubuntu/main.py
  dataflow/custom-containers/ubuntu/noxfile_config.py
  dataflow/custom-containers/ubuntu/requirements-test.txt
  dataflow/custom-containers/ubuntu/requirements.txt
  dataflow/custom-containers/ubuntu/run.yaml
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers, @davidcavazos

enable build specific projects for data science onramp (#7633)
  data-science-onramp/data-ingestion/ingestion_test.py
  data-science-onramp/data-ingestion/noxfile_config.py
  data-science-onramp/data-processing/noxfile_config.py
  data-science-onramp/data-processing/process_test.py
Owners: @leahecole, @bradmiro, @GoogleCloudPlatform/python-samples-reviewers

samples(healthcare v1): initial consent store CRUD method samples with new subdirectory (#7600)
  healthcare/api-client/v1/consent/README.rst
  healthcare/api-client/v1/consent/README.rst.in
  healthcare/api-client/v1/consent/consent_stores.py
  healthcare/api-client/v1/consent/consent_stores_test.py
  healthcare/api-client/v1/consent/noxfile_config.py
  healthcare/api-client/v1/consent/requirements-test.txt
  healthcare/api-client/v1/consent/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers, @noerog

Pull Cloud Trace demo app from google-samples (#7634)
  trace/cloud-trace-demo-app/app/demo-service-a.yaml
  trace/cloud-trace-demo-app/app/demo-service-b.yaml.template
  trace/cloud-trace-demo-app/app/demo-service-c.yaml.template
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency click to v8.1.0 (#7638)
  run/deployment-previews/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

feat: Tests can be run in parallel. (#7550)
  AUTHORING_GUIDE.md
  noxfile-template.py
Owners: @GoogleCloudPlatform/python-samples-owners

docs: update bucket variable in geospatial-classification (#7619)
  people-and-planet-ai/geospatial-classification/README.ipynb
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

Fix infinite redirect on Django settings (#7739)
  run/django/mysite/settings.py
Owners: @glasnt, @GoogleCloudPlatform/aap-dpes, @GoogleCloudPlatform/python-samples-reviewers

docs: Add Earth Engine API to geospatial-classification (#7618)
  people-and-planet-ai/geospatial-classification/README.ipynb
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): fix Flask syntax error, take 2 (#7741)
  appengine/standard_python3/cloudsql/requirements.txt
  appengine/standard_python3/custom-server/requirements.txt
  appengine/standard_python3/migration/urlfetch/requirements.txt
  appengine/standard_python3/warmup/requirements.txt
  auth/end-user/web/main_test.py
  auth/end-user/web/requirements.txt
  dataflow/run_template/requirements-test.txt
  functions/concepts/requirements-test.txt
  functions/env_vars/requirements-test.txt
  functions/helloworld/requirements.txt
  functions/http/requirements-test.txt
  functions/security/requirements-test.txt
  functions/slack/requirements.txt
  functions/tips/requirements-test.txt
  people-and-planet-ai/geospatial-classification/serving_app/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers, @busunkim96, @arithmetic1728

chore(deps): update dependency grpcio to v1.45.0 (#7629)
  bigquery/datalab-migration/requirements.txt
  bigquery/pandas-gbq-migration/requirements.txt
  opencensus/requirements.txt
  trace/cloud-trace-demo-app-opentelemetry/app/requirements.txt
  trace/cloud-trace-demo-app/app/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency apache-airflow-providers-http to v2.1.1 (#7616)
  composer/blog/gcp-tech-blog/data-orchestration-with-composer/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

chore: update README with py3.9 and 3.10 test status (#7591)
  README.md
Owners: @GoogleCloudPlatform/python-samples-owners

chore(deps): update dependency google-cloud-vision to v2.7.2 (#7637)
  codelabs/flex_and_vision/requirements.txt
  functions/imagemagick/requirements.txt
  functions/ocr/app/requirements.txt
  run/image-processing/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

Fix: Change variable name for consistency (#7751)
  auth/service-to-service/auth.py
Owners: @busunkim96, @arithmetic1728, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency apache-airflow-providers-cncf-kubernetes to v3.1.2 (#7635)
  composer/workflows/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

Fix: Make test var name match code (#7754)
  auth/service-to-service/auth_test.py
Owners: @busunkim96, @arithmetic1728, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency google-cloud-bigquery-storage to v2.13.1 (#7755)
  bigquery/bqml/requirements.txt
  bigquery/datalab-migration/requirements.txt
  bigquery/pandas-gbq-migration/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

.github/CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax


# Prefer GitHub teams over individuals to make it easier to find a suitable owner
# when someone is OOO or leaves the team.

# python-samples-owners is in charge of infrastructure (Kokoro, noxfiles, etc.) in this repository
# python-samples-reviewers reviews Python sample code for adherence to sample guidelines
*                                      @GoogleCloudPlatform/python-samples-owners @GoogleCloudPlatform/python-samples-reviewers
/.github/                              @GoogleCloudPlatform/python-samples-owners
/.kokoro/                              @GoogleCloudPlatform/python-samples-owners
/*                                     @GoogleCloudPlatform/python-samples-owners

/appengine/**/*.py                     @GoogleCloudPlatform/aap-dpes  @GoogleCloudPlatform/python-samples-reviewers
/appengine/standard/django/**/*.py     @glasnt @GoogleCloudPlatform/aap-dpes  @GoogleCloudPlatform/python-samples-reviewers
/appengine/flexible/django_cloudsql/**/*.py  @glasnt @GoogleCloudPlatform/aap-dpes  @GoogleCloudPlatform/python-samples-reviewers
/appengine/standard_python3/spanner/*.py     @GoogleCloudPlatform/api-spanner-python @GoogleCloudPlatform/python-samples-reviewers
/auth/**/*.py                          @busunkim96 @arithmetic1728 @GoogleCloudPlatform/python-samples-reviewers
/bigquery/**/*.py                      @shollyman @GoogleCloudPlatform/python-samples-reviewers
/billing/**/*.py                       @GoogleCloudPlatform/billing-samples-maintainers @GoogleCloudPlatform/python-samples-reviewers
/blog/**/*.py                          @GoogleCloudPlatform/python-samples-reviewers
/cdn/**/*.py                           @mpwarres @GoogleCloudPlatform/python-samples-reviewers
/cloud-sql/**/*.py                     @GoogleCloudPlatform/infra-db-dpes @GoogleCloudPlatform/python-samples-reviewers
/codelabs/**/*.py                      @GoogleCloudPlatform/python-samples-reviewers
/composer/**/*.py                      @leahecole @rachael-ds @rafalbiegacz @GoogleCloudPlatform/python-samples-reviewers
/compute/**/*.py                       @m-strzelczyk @GoogleCloudPlatform/python-samples-reviewers
/data-science-onramp/                  @leahecole @bradmiro @GoogleCloudPlatform/python-samples-reviewers
/dataflow/**/*.py                      @davidcavazos @GoogleCloudPlatform/python-samples-reviewers
/datastore/**/*.py                     @GoogleCloudPlatform/cloud-native-db-dpes @GoogleCloudPlatform/python-samples-reviewers
/dns/**/*.py                           @GoogleCloudPlatform/python-samples-reviewers
/endpoints/**/*.py                     @GoogleCloudPlatform/python-samples-reviewers
/eventarc/**/*.py                      @GoogleCloudPlatform/aap-dpes  @GoogleCloudPlatform/python-samples-reviewers
/firestore/**/*.py                     @GoogleCloudPlatform/cloud-native-db-dpes @GoogleCloudPlatform/python-samples-reviewers
/functions/**/*.py                     @GoogleCloudPlatform/aap-dpes  @GoogleCloudPlatform/python-samples-reviewers
/functions/spanner/*.py                @GoogleCloudPlatform/api-spanner-python @GoogleCloudPlatform/python-samples-reviewers
/healthcare/**/*.py                    @noerog @GoogleCloudPlatform/python-samples-reviewers
/iam/**/*.py                           @GoogleCloudPlatform/python-samples-reviewers
/iap/**/*.py                           @GoogleCloudPlatform/python-samples-reviewers
/iot/**/*.py                           @gcseh @GoogleCloudPlatform/api-iot @GoogleCloudPlatform/python-samples-reviewers
/jobs/**/*.py                          @GoogleCloudPlatform/python-samples-reviewers
/kubernetes_engine/**/*.py             @GoogleCloudPlatform/python-samples-reviewers
/kubernetes_engine/django_tutorial/**/*.py @glasnt @GoogleCloudPlatform/python-samples-reviewers
/memorystore/**/*.py                   @GoogleCloudPlatform/python-samples-reviewers
/ml_engine/**/*.py                     @ivanmkc @GoogleCloudPlatform/python-samples-reviewers
/monitoring/**/*.py                    @GoogleCloudPlatform/python-samples-reviewers
/monitoring/opencensus                 @yuriatgoogle @GoogleCloudPlatform/python-samples-reviewers
/monitoring/prometheus                 @yuriatgoogle @GoogleCloudPlatform/python-samples-reviewers
/notebooks/**/*.py                     @alixhami @GoogleCloudPlatform/python-samples-reviewers
/opencensus/**/*.py                    @GoogleCloudPlatform/python-samples-reviewers
/people-and-planet-ai/**/*.py          @davidcavazos @GoogleCloudPlatform/python-samples-reviewers
/profiler/**/*.py                      @GoogleCloudPlatform/python-samples-reviewers
/pubsub/**/*.py                        @anguillanneuf @hongalex @GoogleCloudPlatform/python-samples-reviewers
/pubsublite/**/*.py                    @anguillanneuf @hongalex @GoogleCloudPlatform/python-samples-reviewers
/run/**/*.py                           @GoogleCloudPlatform/aap-dpes  @GoogleCloudPlatform/python-samples-reviewers
/run/django/**/*.py                    @glasnt @GoogleCloudPlatform/aap-dpes  @GoogleCloudPlatform/python-samples-reviewers
/storage/**/*.py                       @GoogleCloudPlatform/cloud-storage-dpes @GoogleCloudPlatform/python-samples-reviewers
/storagetransfer/**/*.py               @GoogleCloudPlatform/cloud-storage-dpes @GoogleCloudPlatform/python-samples-reviewers
/trace/**/*.py                         @ymotongpoo @GoogleCloudPlatform/python-samples-reviewers
/translate/**/*.py                     @nicain @GoogleCloudPlatform/python-samples-reviewers
/workflows/**/*.py                     @GoogleCloudPlatform/python-samples-reviewers
