Repository topdev0528/python-docs-sample, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers, @GoogleCloudPlatform/aap-dpes, @glasnt, @GoogleCloudPlatform/api-spanner-python, @busunkim96, @arithmetic1728, @shollyman, @GoogleCloudPlatform/billing-samples-maintainers, @mpwarres, @GoogleCloudPlatform/infra-db-dpes, @leahecole, @rachael-ds, @rafalbiegacz, @m-strzelczyk, @bradmiro, @davidcavazos, @GoogleCloudPlatform/cloud-native-db-dpes, @noerog, @gcseh, @GoogleCloudPlatform/api-iot, @ivanmkc, @yuriatgoogle, @alixhami, @anguillanneuf, @hongalex, @GoogleCloudPlatform/cloud-storage-dpes, @ymotongpoo, @nicain

chore: update blunderbuss to use GH teams (#7522)
  .github/blunderbuss.yml
Owners: @GoogleCloudPlatform/python-samples-owners

chore(deps): update dependency google-api-core to v2.6.0 (#7546)
  composer/cicd_sample/utils/requirements-test.txt
  monitoring/opencensus/requirements.txt
  monitoring/prometheus/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers, @yuriatgoogle

chore(deps): update dependency pg8000 to v1.24.1 (#7543)
  cloud-sql/postgres/client-side-encryption/requirements.txt
  cloud-sql/postgres/sqlalchemy/requirements.txt
  run/idp-sql/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency google-cloud-service-directory to v1.3.0 (#7537)
  servicedirectory/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency google-resumable-media to v2.3.1 (#7544)
  composer/cicd_sample/utils/requirements-test.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency google-cloud-storage-transfer to v1.2.0 (#7538)
  storagetransfer/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency google-cloud-dataproc to v4 (#7541)
  data-science-onramp/data-ingestion/requirements.txt
  data-science-onramp/data-processing/requirements.txt
  pubsublite/spark-connector/requirements-test.txt
Owners: @leahecole, @bradmiro, @GoogleCloudPlatform/python-samples-reviewers, @GoogleCloudPlatform/python-samples-owners

feat: Adding code samples to self-managed SSL certificate registration. (#7390)
  compute/load_balancing/create_certificate.py
  compute/load_balancing/create_regional_certificate.py
  compute/load_balancing/requirements-test.txt
  compute/load_balancing/requirements.txt
  compute/load_balancing/test_certificates.py
  compute/load_balancing/test_fixtures/certificate.pem
  compute/load_balancing/test_fixtures/openssl_config.ini
  compute/load_balancing/test_fixtures/request.csr
  compute/load_balancing/test_fixtures/test_key.pem
Owners: @m-strzelczyk, @GoogleCloudPlatform/python-samples-reviewers, @GoogleCloudPlatform/python-samples-owners

chore(deps): update dependency google-cloud-aiplatform to v1.11.0 (#7548)
  data-science-onramp/vertex-ai/requirements.txt
  people-and-planet-ai/geospatial-classification/requirements.txt
  people-and-planet-ai/image-classification/requirements.txt
  people-and-planet-ai/timeseries-classification/requirements.txt
Owners: @leahecole, @bradmiro, @GoogleCloudPlatform/python-samples-reviewers, @GoogleCloudPlatform/python-samples-owners

chore(deps): update dependency google-api-core to v2.6.1 (#7553)
  composer/cicd_sample/utils/requirements-test.txt
  monitoring/opencensus/requirements.txt
  monitoring/prometheus/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers, @yuriatgoogle

chore(deps): update dependency earthengine-api to v0.1.301 (#7549)
  people-and-planet-ai/geospatial-classification/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency apache/beam_python3.8_sdk to v2.37.0 (#7551)
  dataflow/custom-containers/miniconda/Dockerfile
  dataflow/custom-containers/minimal/Dockerfile
  dataflow/custom-containers/ubuntu/Dockerfile
  dataflow/gpu-examples/pytorch-minimal/Dockerfile
  dataflow/gpu-examples/tensorflow-landsat-prime/Dockerfile
  dataflow/gpu-examples/tensorflow-landsat/Dockerfile
  dataflow/gpu-examples/tensorflow-minimal/Dockerfile
  people-and-planet-ai/timeseries-classification/Dockerfile
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency google-cloud-iot to v2.4.1 (#7555)
  iot/api-client/gcs_file_to_device/requirements.txt
  iot/api-client/http_example/requirements.txt
  iot/api-client/mqtt_example/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency google-cloud-monitoring to v2.9.1 (#7556)
  trace/cloud-trace-demo-app-opentelemetry/app/requirements.txt
  trace/cloud-trace-demo-app/app/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency google-cloud-storage-transfer to v1.2.1 (#7561)
  storagetransfer/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency google-cloud-service-directory to v1.3.1 (#7560)
  servicedirectory/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency google-cloud-secret-manager to v2.9.1 (#7558)
  appengine/flexible/django_cloudsql/requirements.txt
  appengine/standard_python3/django/requirements.txt
  run/django/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency google-cloud-pubsublite to v1.4.1 (#7557)
  pubsublite/spark-connector/requirements-test.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency prometheus-flask-exporter to v0.19.0 (#7566)
  monitoring/opencensus/requirements.txt
  monitoring/prometheus/requirements.txt
Owners: @yuriatgoogle, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency google-cloud-bigtable to v2.7.0 (#7565)
  functions/bigtable/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency google-cloud-workflows to v1.6.1 (#7564)
  workflows/cloud-client/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency google-cloud-vision to v2.7.1 (#7563)
  codelabs/flex_and_vision/requirements.txt
  functions/imagemagick/requirements.txt
  functions/ocr/app/requirements.txt
  run/image-processing/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency google-cloud-translate to v3.7.2 (#7562)
  functions/ocr/app/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency google-cloud-dataproc to v4.0.1 (#7554)
  data-science-onramp/data-ingestion/requirements.txt
  data-science-onramp/data-processing/requirements.txt
  pubsublite/spark-connector/requirements-test.txt
Owners: @leahecole, @bradmiro, @GoogleCloudPlatform/python-samples-reviewers, @GoogleCloudPlatform/python-samples-owners

chore(deps): update dependency google-cloud-compute to v1.1.0 (#7569)
  functions/v2/label_gce_instance/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency google-cloud-error-reporting to v1.5.1 (#7568)
  functions/helloworld/requirements.txt
  functions/tips/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency google-api-core to v2.7.0 (#7570)
  composer/cicd_sample/utils/requirements-test.txt
  monitoring/opencensus/requirements.txt
  monitoring/prometheus/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers, @yuriatgoogle

chore(deps): update dependency google-resumable-media to v2.3.2 (#7571)
  composer/cicd_sample/utils/requirements-test.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

Add tests for billing sample (#7432)
  billing/main.py
  billing/requirements-test.txt
  billing/requirements.txt
  billing/test_main.py
Owners: @GoogleCloudPlatform/billing-samples-maintainers, @GoogleCloudPlatform/python-samples-reviewers, @GoogleCloudPlatform/python-samples-owners

chore(deps): update dependency google-cloud-bigquery-storage to v2.13.0 (#7575)
  bigquery/bqml/requirements.txt
  bigquery/datalab-migration/requirements.txt
  bigquery/pandas-gbq-migration/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

fix(serverless): clean up ID token example (#7559)
  auth/service-to-service/auth.py
  auth/service-to-service/main.py
Owners: @busunkim96, @arithmetic1728, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency google-cloud-billing to v1.5.1 (#7574)
  billing/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

Correct URL parsing logic (#7530)
  appengine/standard_python3/django/app.yaml
  appengine/standard_python3/django/mysite/settings.py
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers, @GoogleCloudPlatform/aap-dpes

chore(deps): update dependency google-api-core to v2.7.1 (#7577)
  composer/cicd_sample/utils/requirements-test.txt
  monitoring/opencensus/requirements.txt
  monitoring/prometheus/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers, @yuriatgoogle

chore(deps): update dependency twilio to v7.7.1 (#7580)
  appengine/flexible/twilio/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency earthengine-api to v0.1.302 (#7576)
  people-and-planet-ai/geospatial-classification/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency torch to v1.11.0 (#7589)
  dataflow/gpu-examples/pytorch-minimal/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency apache-airflow-providers-http to v2.1.0 (#7588)
  composer/blog/gcp-tech-blog/data-orchestration-with-composer/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency apache-airflow-providers-google to v6.5.0 (#7587)
  composer/workflows/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

chore(deps): update dependency sendgrid to v6.9.7 (#7579)
  appengine/standard/sendgrid/requirements.txt
Owners: @GoogleCloudPlatform/python-samples-owners, @GoogleCloudPlatform/python-samples-reviewers

.github/CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax


# Prefer GitHub teams over individuals to make it easier to find a suitable owner
# when someone is OOO or leaves the team.

# python-samples-owners is in charge of infrastructure (Kokoro, noxfiles, etc.) in this repository
# python-samples-reviewers reviews Python sample code for adherence to sample guidelines
*                                      @GoogleCloudPlatform/python-samples-owners @GoogleCloudPlatform/python-samples-reviewers
/.github/                              @GoogleCloudPlatform/python-samples-owners
/.kokoro/                              @GoogleCloudPlatform/python-samples-owners
/*                                     @GoogleCloudPlatform/python-samples-owners

/appengine/**/*.py                     @GoogleCloudPlatform/aap-dpes  @GoogleCloudPlatform/python-samples-reviewers
/appengine/standard/django/**/*.py     @glasnt @GoogleCloudPlatform/aap-dpes  @GoogleCloudPlatform/python-samples-reviewers
/appengine/flexible/django_cloudsql/**/*.py  @glasnt @GoogleCloudPlatform/aap-dpes  @GoogleCloudPlatform/python-samples-reviewers
/appengine/standard_python3/spanner/*.py     @GoogleCloudPlatform/api-spanner-python @GoogleCloudPlatform/python-samples-reviewers
/auth/**/*.py                          @busunkim96 @arithmetic1728 @GoogleCloudPlatform/python-samples-reviewers
/bigquery/**/*.py                      @shollyman @GoogleCloudPlatform/python-samples-reviewers
/billing/**/*.py                       @GoogleCloudPlatform/billing-samples-maintainers @GoogleCloudPlatform/python-samples-reviewers
/blog/**/*.py                          @GoogleCloudPlatform/python-samples-reviewers
/cdn/**/*.py                           @mpwarres @GoogleCloudPlatform/python-samples-reviewers
/cloud-sql/**/*.py                     @GoogleCloudPlatform/infra-db-dpes @GoogleCloudPlatform/python-samples-reviewers
/codelabs/**/*.py                      @GoogleCloudPlatform/python-samples-reviewers
/composer/**/*.py                      @leahecole @rachael-ds @rafalbiegacz @GoogleCloudPlatform/python-samples-reviewers
/compute/**/*.py                       @m-strzelczyk @GoogleCloudPlatform/python-samples-reviewers
/data-science-onramp/                  @leahecole @bradmiro @GoogleCloudPlatform/python-samples-reviewers
/dataflow/**/*.py                      @davidcavazos @GoogleCloudPlatform/python-samples-reviewers
/datastore/**/*.py                     @GoogleCloudPlatform/cloud-native-db-dpes @GoogleCloudPlatform/python-samples-reviewers
/dns/**/*.py                           @GoogleCloudPlatform/python-samples-reviewers
/endpoints/**/*.py                     @GoogleCloudPlatform/python-samples-reviewers
/eventarc/**/*.py                      @GoogleCloudPlatform/aap-dpes  @GoogleCloudPlatform/python-samples-reviewers
/firestore/**/*.py                     @GoogleCloudPlatform/cloud-native-db-dpes @GoogleCloudPlatform/python-samples-reviewers
/functions/**/*.py                     @GoogleCloudPlatform/aap-dpes  @GoogleCloudPlatform/python-samples-reviewers
/functions/spanner/*.py                @GoogleCloudPlatform/api-spanner-python @GoogleCloudPlatform/python-samples-reviewers
/healthcare/**/*.py                    @noerog @GoogleCloudPlatform/python-samples-reviewers
/iam/**/*.py                           @GoogleCloudPlatform/python-samples-reviewers
/iap/**/*.py                           @GoogleCloudPlatform/python-samples-reviewers
/iot/**/*.py                           @gcseh @GoogleCloudPlatform/api-iot @GoogleCloudPlatform/python-samples-reviewers
/jobs/**/*.py                          @GoogleCloudPlatform/python-samples-reviewers
/kubernetes_engine/**/*.py             @GoogleCloudPlatform/python-samples-reviewers
/kubernetes_engine/django_tutorial/**/*.py @glasnt @GoogleCloudPlatform/python-samples-reviewers
/memorystore/**/*.py                   @GoogleCloudPlatform/python-samples-reviewers
/ml_engine/**/*.py                     @ivanmkc @GoogleCloudPlatform/python-samples-reviewers
/monitoring/**/*.py                    @GoogleCloudPlatform/python-samples-reviewers
/monitoring/opencensus                 @yuriatgoogle @GoogleCloudPlatform/python-samples-reviewers
/monitoring/prometheus                 @yuriatgoogle @GoogleCloudPlatform/python-samples-reviewers
/notebooks/**/*.py                     @alixhami @GoogleCloudPlatform/python-samples-reviewers
/opencensus/**/*.py                    @GoogleCloudPlatform/python-samples-reviewers
/people-and-planet-ai/**/*.py          @davidcavazos @GoogleCloudPlatform/python-samples-reviewers
/profiler/**/*.py                      @GoogleCloudPlatform/python-samples-reviewers
/pubsub/**/*.py                        @anguillanneuf @hongalex @GoogleCloudPlatform/python-samples-reviewers
/pubsublite/**/*.py                    @anguillanneuf @hongalex @GoogleCloudPlatform/python-samples-reviewers
/run/**/*.py                           @GoogleCloudPlatform/aap-dpes  @GoogleCloudPlatform/python-samples-reviewers
/run/django/**/*.py                    @glasnt @GoogleCloudPlatform/aap-dpes  @GoogleCloudPlatform/python-samples-reviewers
/storage/**/*.py                       @GoogleCloudPlatform/cloud-storage-dpes @GoogleCloudPlatform/python-samples-reviewers
/storagetransfer/**/*.py               @GoogleCloudPlatform/cloud-storage-dpes @GoogleCloudPlatform/python-samples-reviewers
/trace/**/*.py                         @ymotongpoo @GoogleCloudPlatform/python-samples-reviewers
/translate/**/*.py                     @nicain @GoogleCloudPlatform/python-samples-reviewers
/workflows/**/*.py                     @GoogleCloudPlatform/python-samples-reviewers
